{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<main>
  <div id="container"></div>
<!--
<div class="actions">
  <button id="toggleFreeze" class="action">
    Freeze
  </button>
</div>

<div class="colors hide">
  <span class="color wp-light-blue"><i>#70bac8</i></span>
  <span class="color wp-dark-blue"><i>#162a33</i></span>
  <span class="color secondary-1"><i>#eb6126</i></span>
  <span class="color secondary-2"><i>#f6c443</i></span>
  <span class="color secondary-3"><i>#72c5a1</i></span>
  <span class="color secondary-4"><i>#a0a3a5</i></span>
  <span class="color secondary-5"><i>#dbdad6</i></span>
  <span class="color tertiary-1"><i>#dc8073</i></span>
  <span class="color tertiary-2"><i>#9e859e</i></span>
  <span class="color tertiary-3"><i>#8cd6de</i></span>
  <span class="color tertiary-4"><i>#4a82ba</i></span>
  <span class="color tertiary-5"><i>#abc261</i></span>
  <span class="color tertiary-6"><i>#738085</i></span>
</div>

<div class="player-controls">

  <div class="progress-bar">
    <div class="progress">

    </div>
  </div>
  <select></select>
  <div class="playhead-controls">
    <div class="backwards">
      <i class="fa fa-backward" aria-hidden="true"></i>
    </div>
    <div class="play-pause">
      <i class="fa fa-play" aria-hidden="true"></i>
      <i class="fa fa-pause hide" aria-hidden="true"></i>
    </div>
    <div class="forwards">
      <i class="fa fa-forward" aria-hidden="true"></i>
    </div>
    <div class="repeat">
      <i class="fa fa-repeat" aria-hidden="true"></i>
    </div>
  </div>
</div>
-->
</main>
{% endblock %}


{% block javascript %}
  <script src="js/libs/stats.min.js"></script>
  <script src="js/dat.gui.min.js"></script>
  <script src="js/three.r88.min.js"></script>
  <script src="js/loaders/ColladaLoader2.js"></script>
  <script src="js/controls/TrackballControls.js"></script>
  <script src="js/GPUParticleSystem.js"></script>
  <script src="js/app.js"></script>
{% endblock %}
