.player-controls {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  border-radius: 20px;
  height: 60px;
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
  color: rgba(255,255,255,0.4);

  select {
    position: absolute;
    top: 55px;
    left: 20px;
    border: none;
    outline: none;
    width: 30%;
    z-index: 100;
    background: transparent;
    color: white;
  }

  i:hover {
    color: rgba(255,255,255,0.8);
  }
  .hide, &.hide {
    display: none;
  }
  .selected, .active {
    color: rgba(255,255,255,1);
  }
  .progress-bar {
    width: 100%;
    height: 10px;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.4);
    .progress {
      width: 100%;
      height: 10px;
      border-radius: 4px;
      background-color: rgba(255,255,255,1);
      transform-origin: left center;
    }
  }
  .playhead-controls {
    position: relative;
    text-align: center;
    > * {
      display: inline-block;
      line-height: 36px;
      vertical-align: middle;
      padding: 16px 8px;
    }
    .play-pause {
      font-size: 36px;

    }
    .repeat {
      position: absolute;
      right: 20px;
      top: 0px;
    }
  }
}
