@import "base/typography";
@import "vendor/font-awesome/font-awesome";
@import "components/index";

body, html {
  margin: 0;
  background-color: #f0f0f0;
  overflow: hidden;
}
.actions {
  &.hide {
    display: none;
  }
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  button {
    transition: background-color 0.1s ease;
    border-radius: 10px;
    outline:none;
    border: thin solid white;
    padding:20px;
    font-size: 14px;
    color:white;
    background-color: transparent;
    cursor: pointer;
    &:active {
      background-color: rgba(255,255,255,0.2);
    }
  }
}

.colors {
  &.hide {
    display: none;
  }
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  .color {
    width: 80px;
    height: 50px;
    margin-bottom: 10px;
    border: thin solid white;
    position: relative;
    &.wp-light-blue { background-color:#70bac8 }
    &.wp-dark-blue { background-color:#162a33 }
    &.secondary-1 { background-color:#eb6126 }
    &.secondary-2 { background-color:#f6c443 }
    &.secondary-3 { background-color:#72c5a1 }
    &.secondary-4 { background-color:#a0a3a5 }
    &.secondary-5 { background-color:#dbdad6 }
    &.tertiary-1 { background-color:#dc8073 }
    &.tertiary-2 { background-color:#9e859e }
    &.tertiary-3 { background-color:#8cd6de }
    &.tertiary-4 { background-color:#4a82ba }
    &.tertiary-5 { background-color:#abc261 }
    &.tertiary-6 { background-color:#738085 }
    i {
      background-color: white;
      padding:8px;
      font-size: 9px;
      position: absolute;
      bottom: 0;
      border-radius: 0 4px 0 0;
    }
  }
}
